.productList{
    display: flex;
    flex-direction: column;
    flex: 4;
    border-style: solid;
    border-width: 3px;
    border-color: whitesmoke;
    border-radius: 1%;
}

.productListItem{

}
.calculateButton{
    padding-top: 10px;
    
}

a:visited {
    text-decoration: none !important;
  }
.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}
.containerList{
}
.list{
    width: 100%;
}
.calculateButton{
    padding-left: 10px;
    display: flex;
}
.secondButton{
    padding-left: 5px;
}